<% provide(:title," | Perfil de #{@user.name}")%>
<p id="notice"><%= notice %></p>


  <div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div id="timeline" class="large-7 push-5 columns">
    	<% @microposts.each do |micropost| %>
        <!-- Feed Entry -->
        <div class="row">
          <div id="avatar-timeline" class="small-3 large-2 columns "><img src="/assets/80x80.gif" /></div>
          <div class="small-9 large-10 columns">
            <p><strong><a href="/users/<%= micropost.user_id %>"><%= micropost.user.name %></a></strong><br> <%= micropost.content %></p>
            <ul class="inline-list">
              <!-- <li><a href="">Responder</a></li> -->
              <li><p class="timestamp">Creado hace <%= time_ago_in_words(micropost.created_at)%></p></li>
            </ul>
          </div>
        </div>
        <!-- End Feed Entry -->
      <% end %>
    </div>
    <!-- Nav Sidebar -->
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div id="profile" class="large-5 pull-8 columns">
      <div id="header-profile" class="row">
        <div class="small-4 columns">
          <img id="avatar" src="/assets/100x100.gif" />
        </div>
        <div class="small-8 columns">
          <p>
          <h5><%= @user.name %></h5>
          @<%= @user.name.downcase %>
          </p>
        </div>
      </div>
      <div id="bio">
        <h6>Biografía</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolorum, natus, esse odio sunt non nam ducimus optio autem reprehenderit quas sequi.</p>
      </div>
      <div id="stats">
        <div class="row">
          <div class="small-4 columns text-center">
            <p><%= @user.microposts.count %> <br> Microposts </p>
          </div>
          <div class="small-4 columns text-center">
            <p> 0 <br> Siguiendo </p>
          </div>
          <div class="small-4 columns text-center">
            <p> 0 <br> Seguidores </p>
          </div>
        </div>
      </div>  
    </div>

  </div>
    
  
  <!-- Footer -->
  
  <footer class="row">

  </footer>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
